<!--wrapper content ends here social media-->
        <!-- social media -->
        <!-- Added by raj -->
        <div
          class="wrapper d-flex justify-content-center text-center flex-wrap">
          <a href="mailto:raj24kush@gmail.com" class="icon email">
            <div class="tooltip">Email</div>
            <span><i class="fa-solid fa-envelope"></i></span>
          </a>
          <a
            href="https://www.linkedin.com/in/rajkushwaha0111/"
            target="_blank"
            class="icon linkedin">
            <div class="tooltip">LinkedIn</div>
            <span><i class="fa-brands fa-linkedin"></i></span>
          </a>
          <a
            href="https://www.instagram.com/rajkushwaha7584/"
            target="_blank"
            class="icon instagram">
            <div class="tooltip">Instagram</div>
            <span><i class="fab fa-instagram"></i></span>
          </a>
          <a
            href="https://github.com/rajkushwaha7584"
            target="_blank"
            class="icon github">
            <div class="tooltip">Github</div>
            <span><i class="fab fa-github"></i></span>
          </a>
          <a
            href="https://t.me/rajkushwaha7584 "
            target="_blank"
            class="icon telegram">
            <div class="tooltip">Telegram</div>
            <span><i class="fa-brands fa-telegram"></i></span>
          </a>
        </div>
        <div class="footer-bottom text-center">
          <div class="container">
            <p class="mt-2">
              Designed & Developed by <strong>Raj Kushwaha</strong>
            </p>
            <p class="mb-3">Â© All Rights Reserved</p>
          </div>
        </div>
        <!-- Social Media Section end -->

        <!-- end of raj code added -->
        <!-- footer section ends here -->
